@model List<Product>
@{
    ViewData["Title"] = "Products";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <div class="table-responsive">
                    <a class="btn btn-primary" asp-action="Create">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th>Category Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var productItem in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/assets/images/website-images/@productItem.Image">
                                        </td>
                                        <td>@productItem.Name</td>
                                        <td>@productItem.Price</td>
                                        <td>@productItem.Raiting</td>
                                        <td>@productItem.Category.Name</td>
                                        <td>
                                            <a class="btn btn-success" asp-action="Read" asp-route-id="@productItem.Id">Read</a>
                                            <a class="btn btn-warning mx-1 text-white" asp-action="Update" asp-route-id="@productItem.Id">Update</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@productItem.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

